<ul class="nav navbar-nav">
	<li <% if params[:controller] == "devices" %>class="active"<% end %>><%= link_to("Devices", devices_path()) %></li>
	<li <% if params[:controller] == "users" %>class="active"<% end %>><%= link_to("Users", users_path()) %></li>
	<li <% if params[:controller] == "ipranges" %>class="active"<% end %>><%= link_to("IP-Ranges", ipranges_path()) %></li>
</ul>